/frontend/node_modules
/.vscode
/backend/src/main/resources/application.properties
/backend/build/resources/main/application.properties
/backend/image
/backend/.gradle/
/backend/build/
/frontend/.env
.DS_Store
/frontend/.DS_Store
/frontend/src/.DS_Store
/frontend/src/assets/.DS_Store